body {
    position: relative;
    max-width: 1440px;
    transition: background-color .2s linear;
    background: rgba(242, 242, 242), .8;
}

body.dark {
    background-color: var(--bg-dark);
}

body::before {
    position: absolute;
    content: '';
    left: 0;
    top: 35rem;
    background-image: url('../images/bg-blue-light-left.svg');
    background-repeat: no-repeat;
    background-position: left left;
    background-size: 15%;
    width: 100%;
    /* height: 100%; */
    z-index: -2;
    opacity: .2;
}

body::after {
    position: absolute;
    content: '';
    top: 80rem;
    right: 0;
    background-image: url('../images/bg-blue-light-right.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 15%;
    width: 100%;
    /* height: 100%; */
    z-index: -2;
    opacity: .2;
}

.header, ul, .back-about, .logo, .my-self, .info, .collections, .colletion-left, .photos, .footer, .footer-left, .footer-right, .social-media, form div button {
    display: flex;
}

.header, .back-about, .info {
    margin-bottom: 5rem;
}

#sec-header {
    position: relative;
}

#theme {
    position: absolute;
    top: 8rem;
    right: 4rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #375F75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    padding: 5px;
    position: relative;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translate(24px);
}

.label:hover {
    cursor: pointer;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.logo, .my-self, .photos, .footer, form div button {
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40%;
}

.btn-header {
    border: none;
    background-color: unset;
    color: var(--bg-blue-dark);
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 25%;
    height: 5rem;
    font-weight: 700;
    border-radius: 1rem;
    display: none;
    align-items: center;
    /* box-shadow: -3px 3px 5px rgba(0, 0, 0, .2); */
}

#menu-header {
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color: var(--bg-blue-dark);
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

#menu-header.dark {
    background-color: #292C35;
    color: #fff !important;
}

#nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color: var(--bg-blue-dark);
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px; 
}


.nav-none {
    display: none;
}

#nav ul {
    width: 100%;
    transition: background-color .2s linear;
}

#nav li {
    margin: auto;
    font-size: 1.3rem;
    text-transform: uppercase;
    list-style-type: none;
}

#menu-header li a {
    text-decoration: none;
    color: var(--write);
}

#menu-header li a:hover {
    border-bottom: .5rem solid var(--yellow);
    transition: all .4s;
    color: #FFCD00;
}

.about-me {
    width: 100%;
    position: relative;
}

.shadow {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 2rem;
    padding: 2rem;
}

.back-about {
    justify-content: space-between;
    padding-left: 5rem;
}

.apresentation {
    width: 37rem;
    transition: background-color 0.2s linear;
}

.darkBox {
    transition: background-color 0.2s linear;
}

.darkBox.dark {
    background-color: #292C35 !important;
}

.dark-letter {
    color: #fff !important;
}

.dark-port-active {
    background-color: var(--bg-silver) !important;
}

.apresentation p {
    font-size: 2.3rem;
    width: 85%;
}

.last-child-text {
    font-size: 1.7rem !important;
}

.anime-name {
    position: relative;
    font-weight: 900;
}

.anime-name .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1rem;
    padding-right: 0.0025rem;
    padding-bottom: 0.05em;
    overflow: hidden;
}

.anime-name .letter {
    transform-origin: 0 100%;
    display: inline-block;
    font-size: 3.7rem !important;
    color: var(--yellow);
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}

.my-self {
    width: 40rem;
    height: 40rem;
    position: relative;
}

.my-self::before {
    content: '';
    position: absolute;
    top: 0;
    right: 60px;
    width: 46%;
    height: 100%;
    mix-blend-mode: darken;
    background-color: rgba(255, 205, 0, 1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .5);
    border-top-right-radius: 300px 380px;
    border-bottom-right-radius: 300px 380px;
    border-top-left-radius: 20px 50px;
    border-bottom-left-radius: 20px 50px;
    opacity: .5;
    z-index: 1;
}

.my-self::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 55.1%;
    background-color: var(--bg-silver);
    border-radius: 2rem 0 0 2rem;
    right: 0;
    top: 0;
    z-index: -2;
    opacity: .4;
}

.img {
    background-image: url('../images/eu-clean.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 81%;
    height: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(90%);
    filter: grayscale(100%);
    opacity: .8;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 2);
    z-index: 1;
    position: relative;
}

.my-image {
    position: absolute;
    background-image: url('../images/eu-clean.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 81%;
    height: 100%;
    border-radius: 50%;
    z-index: 3;
    transform: scale(1.02);
    transition: all .3s;
}

.line {
    width: 90%;
    height: 1rem;
    margin: 4rem auto 4rem auto;
    background-color: var(--bg-blue-dark) !important;
    z-index: 2;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.web-draw {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 2rem;
}

.web-draw.dark {
    background-color: #292C35;
}

.web-draw h2, p {
    font-size: 2rem;
    color: var(--bg-blue-dark);
}

.web-draw img {
    margin: 1.5rem;
}

.perception {
    width: 28rem;
}

.perception h2 {
    background-color: var(--bg-blue-dark);
    text-align: center;
    color: var(--yellow);
    margin-bottom: 1rem;
    padding: .5rem;
}

.perception p {
    font-size: 1.7rem;
    color: var(--bg-blue-dark);
}

.collections {
    margin: auto;
    flex-direction: column;
    width: 90%;
}

.colletion-left {
    align-items: center;
    justify-content: space-around;
    color: var(--bg-blue-dark);
    margin: 3rem 0;
}

.colletion-left span {
    width: 40%;
    font-size: 2.8rem;
    font-weight: 700;
}

.colletion-left img {
    width: 40%;
}

.photos {
    z-index: 1;
    position: relative !important;
    margin: 0 .5rem;
}

.photos picture {
    width: 100%;
    max-width: 60rem;
    height: 80rem;
    max-height: 50vw;
    background-color: rgba(0, 0, 0, .0);
    z-index: -1;
    border: .5rem solid rgba(255, 205, 0, .2);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding: 1rem;
    position: relative;
    /* margin: auto .3rem; */
}

.photos picture img {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    position: absolute;
    border-radius: 1.3rem;
    object-fit: cover;
    transition: opacity 800ms;
}

.photos picture img.selected {
    opacity: 1;
}

.photos span {
    width: 5%;
    height: 5%;
    margin: 0;
}

span img:hover {
    border: 4px solid #FFCD00;
}

/* PORTFOLIO */


.portfolio {
    margin-top: 24rem;
    position: relative;
    width: 100%;
    background-color: #FFFDD6;
    display: flex;
    flex-direction: column;
}

.portfolio::after {
    content: '';
    position: absolute;
    background-image: url('../images/bg-wave-up-portfolio.svg');
    background-repeat: no-repeat;
    left: 0;
    top: -22rem;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#portfolio {
    margin-top: 24rem;
    position: relative;
    width: 100%;
    background-color: #FFFDD6;
    display: flex;
    flex-direction: column;
}

#portfolio::after {
    content: '';
    position: absolute;
    background-image: url('../images/bg-wave-up-portfolio.svg');
    background-repeat: no-repeat;
    left: 0;
    top: -22rem;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.portfolio::after.dark {
    background-color: #292C35;
}

.portfolio::before {
    content: '';
    position: absolute;
    background-image: url('../images/bg-portfolio-down.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    left: 0;
    bottom: -20rem;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.draw-portfolio {
    width: 90%;
}

.portfolio div {
    margin: 0;
}

.portfolio div h1 {
    font-size: 3rem;
    color: #FFCD00;
    text-align: center;
    text-transform: uppercase;
}

.group-card {
    display: grid;
    grid-template-areas: "cardUp cardUp" "cardD cardD";
    align-self: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 90%;
}

.cardSpace {
    margin-right: 20px !important;
}

.cards {
    width: 30rem;
    height: 35rem;
    background-color: #fff;
    box-shadow: -8px 8px 5px rgb(0, 0, 0, .1);
    border-radius: 2rem;
    margin: 2rem auto !important;
}

.up-card {
    background-color: rgba(55, 95, 117, .8);
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    height: 18rem;
    position: relative;
}

.up-card span {
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1.2rem 1.2rem 0 0;
    transition: background .2s;
    opacity: .5;
}

.faq-image {
    background-image: url('../images/Image-FAQ.svg');
}

.fylo-image {
    background-image: url('../images/filo1.svg');
}

.port-image {
    background-image: url('../images/port-codepen.svg');
}

.handle-image {
    background-image: url('../images/img-handle.svg');
}

.up-card span:hover {
    /* background-size: 150% 150%; */
    opacity: 1;
}

.up-card img {
    width: 100%;
    mix-blend-mode: darken;
    z-index: -2;
    background-size: 150% 150%;
}

.up-card img:hover {
    mix-blend-mode: normal;
}

.down-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.8rem;
}

.description-card {
    width: 70%;
}

.down-card ol {
    margin-left: 1rem;
    color: #375F75;
}

.down-card ol li, p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.down-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    /* height: 10rem; */
}

.btn-repo {
    flex-direction: column;
    align-items: center;
    Justify-content: center;
}

.down-card div a {
    text-align: center;
    font-weight: 700;
    margin-bottom: .5rem;
    width: 4rem;
    background-color: #375F75;
    text-decoration: none;
    color: #ffcd00;
    padding: .4rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.down-card div a:hover {
    background-color: #fff;
    transition: all .2s;
    padding: .2rem;
    border: .2rem solid #ffcd00;
}

.down-card div a img {
    margin: auto;
    padding: 0.3rem;
    display: flex;
    width: 1.5rem;
}

.skills {
    margin-top: 33rem;
    margin-bottom: 23rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #375F75;
    position: relative;
}

.skills::before {
    content: '';
    position: absolute;
    top: -15.2rem;
    background-image: url('../images/bg-wave-skill-up.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.skills::after {
    content: '';
    position: absolute;
    bottom: -13rem;
    background-image: url('../images/bg-wave-skill-down.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.skills h1 {
    text-transform: uppercase;
    color: #FFCD00;
    font-size: 3rem;
    margin: 5rem 0 3rem 0;
}

.line-white {
    background-color: #fff;
    height: 1rem;
    width: 90%;
    margin-bottom: 3rem;
}

.line-bottom {
    margin-top: 3rem;
}

.setup-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.border-box {
    padding: 1rem;
    border-radius: 2rem;
    border: .3rem solid var(--write);
    width: 45%;
    height: auto;
    margin-bottom: 3rem;
}

.setup {
    background-color: #fff;
    border-radius: 2rem;
    vertical-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setup div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.setup div img {
    margin-right: 1rem;
}

.title {
    background-color: #375F75;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22.55rem;
}

.setup span {
    /* background-color: #375F75; */
    color: #FFCD00;
    font-size: 3.5rem;
    text-align: center;
}

.setup ol {
    display: flex;
    flex-direction: column;
}

.setup ol li {
    margin-bottom: 1.2rem;
    list-style-type: none;
}

.platforms {
    padding: 2rem;
}

.platforms div {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.platforms div img {
    margin-bottom: 1rem;
    width: 3rem;
}

.cert {
    margin: 0;
}

.cert ol {
    padding: 1rem;
    width: 80%;
}

.cert ol li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    transition: all .3s;
}

.cert ol li:hover {
    border-left: 2px solid #ffcd00;
    padding-left: .2rem;
}

.cert ol li img {
    margin: auto;
    width: 1.8rem;
}

.cert ol li img:hover {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    /* transform: scale(1.5); */
    transition: all .2s;
    /* border-radius: .4rem; */
    /* padding: .05rem; */
}

cert ol li input {
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    background: #fff;
    z-index: 1;
}

.cert ol li input:hover {
    cursor: pointer;
}

.modal-certificate, .modal, .modal-scrum, .modal div span, .modal-scrum div span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#radios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid #375F75;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .2);
    height: 80vh;
    position: relative;
}

.setRadios {
    position: relative;
    margin-left: 1rem;
}

.setRadios:hover {
    background-color: rgba(0, 0, 0, .5);
}

.setRadios input {
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    z-index: 1;
}

.modal-certificate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.modal {
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.modal-info {
    top: 0;
    position: relative;
    /* z-index: 5; */
}

.modal div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 0;
    color: #fff;
}

.modal div span {
    margin-left: auto;
    margin-right: 0;
    width: 3rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.modal img {
    width: 600px;
    height: 400px;
}

.modal button {
    margin: .5rem;
    padding: 10px;
    border: none;
    border-radius: .2rem;
    background-color: var(--bg-blue-dark);
    color: #fff;
    z-index: 1;
    bottom: 44%;
}

.modal button:hover {
    background-color: var(--write);
    color: var(--yellow);
    /* border: 2px solid var(--yellow); */
    /* padding: 8px; */
}

.modal div span:hover {
    background-color: #375F75;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFCD00;
    font-weight: 700;
}

.modal button a {
    text-decoration: none;
    color: inherit;
}

.options {
    position: absolute;
    top: 30px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    width: 90%;
    height: 90%;
    margin: .1rem;
}

.cf-active {
    opacity: 1;
    visibility: visible;
}

/* ///// SECTION FOOTER ///// */

.footer::before {
    position: absolute;
    content: '';
    left: 0;
    top: -13rem;
    background-image: url('../images/bg-wave-footer-up.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.footer {
    background-color: var(--sweet-yellow);
    padding: 0rem 4rem 1rem 4rem;
    position: relative;
    height: 40rem;
}

.footer-left {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer img {
    width: 22rem;
}

.footer p {
    color: var(--bg-blue-dark);
    font-size: 1.8rem;
    width: 28rem;
}

.social-media {
    justify-content: space-between;
    width: auto;
}

.social-media li {
    width: 4rem;
    height: 4rem;
    list-style: none;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    z-index: 3;
}

.social-media li a {
    width: 100%;
    height: 100%;
}

.insta, .linkedin, .twitter, .github {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

svg {
    width: 100%;
}

svg:hover path {
    fill: #ffcd00;
}

.insta:hover {
    background-image: url('../images/instagram-yellow.svg');
    z-index: 5;
}

.footer-right {
    height: 85%;
    vertical-align: top;
    margin-left: 7rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: auto;
}

form span {
    color: var(--bg-blue-dark);
    font-size: 1.8rem;
}

form textarea {
    border: none;
    text-rendering: none;
    resize: none;
    margin: 1.5rem 0;
    padding: 1rem !important;
    width: 100%;
    height: 8rem;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid transparent;
}

form input::placeholder, form textarea::placeholder {
    opacity: .3;
}

form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form div input {
    width: 65%;
    height: 4rem;
    border: none;
    font-size: 1.5rem;
    outline: none;
    padding: 1rem !important;
    border: 2px solid transparent;
}

form div input:hover, form textarea:hover {
    border: 2px solid #FFCD00;
}

form div button {
    border: 2px solid transparent;
    background-color: var(--yellow);
    padding: 1rem 3rem;
    margin-left: 2rem;
    /* height: 4rem; */
    color: var(--write);
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 2rem;
}

form div button:hover {
    opacity: .6;
    cursor: pointer;
    background-color: var(--write);
    color: var(--yellow);
    transform: scale(1.02);
    border: 2px solid var(--yellow);
    font-weight: 700;
}

.avatar {
    position: absolute;
    right: 30px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    transition: all .5s;
    transform: scale(1);
    opacity: .5;
}

.avatar:hover {
    opacity: 1;
    transform: scale(1.05);
}

.avatar:first-child {
    width: 40%;
}

.avatar:last-child {
    width: 40%;
}

.avatar img {
    width: 80%;
    height: 80%;
}

.thinking {
    position: relative;
    right: -4rem;
}

@media (min-width: 1920px) {
    body {
        max-width: 1920px;
    }
    .logo {
        width: 40%;
    }
    .logo img {
        width: 70%;
    }
    #nav {
        width: 90%;
    }
    #menu-header li a {
        font-size: 3rem;
    }
    .apresentation {
        width: 55rem;
    }
    .apresentation h1 {
        font-size: 5rem !important;
    }
    .apresentation p {
        margin-top: 1rem;
        font-size: 3.5rem;
    }
    .web-draw {
        width: 45rem;
    }
    .web-draw h2 {
        font-size: 4rem;
    }
    .web-draw p {
        font-size: 3rem;
    }
    .perception {
        width: 42rem;
    }
    .perception h2 {
        font-size: 3rem;
    }
    .size-info {
        font-size: 3rem !important;
    }
    .portfolio {
        margin-top: 35rem;
    }
    .portfolio::after {
        background-image: url(../images/bg-wave-up-portfolio-large-screen.svg);
        top: -30rem;
    }
    .skills::before {
        top: -22rem;
        background-image: url(../images/bg-wave-skill-up-big.svg);
    }
    .skills::after {
        background-image: url(../images/bg-wave-skill-down-big.svg);
    }
    .portfolio div h1 {
        font-size: 6rem;
    }
    .cards {
        width: 40rem;
        height: auto !important;
    }
    .modal div {
        width: 80rem;
    }
    .modal img {
        width: 68rem;
        height: 40rem;
    }
}

@media(max-width: 1160px) {
    .footer {
        flex-direction: column-reverse;
        height: auto;
    }
    .footer img {
        width: 80%;
    }
    .footer p {
        width: auto;
        margin: auto;
    }
    .footer-left {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: auto;
        margin-bottom: 2rem;
    }
    .footer-left div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15rem;
    }
    .footer-right {
        height: auto;
        margin-left: 0;
        margin-bottom: 3rem;
    }
    .social-media {
        width: auto;
    }
    .avatar {
        display: none;
    }
}

@media(max-width: 1110px) {
    .my-self {
        display: none;
        position: unset;
    }
    .about-me::after {
        content: '';
        position: unset;
        width: 24.5%;
        right: -9999;
        top: 0;
        z-index: -2;
        opacity: .6;
    }
    .back-about {
        padding-left: 0;
    }
    .group-card {
        display: grid;
        grid-template-areas: "cardUp" "cardD";
        justify-content: space-around;
        padding-top: 5rem;
        width: 95%;
    }
    .apresentation {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem;
        margin: 0 2rem;
    }

    .last-child-text {
        font-size: 1.1rem !important;
    }


    .colletion-left {
        flex-direction: column-reverse;
    }
    .colletion-left span {
        text-align: center;
        margin-top: 2rem;
    }
    .colletion-left span, .colletion-left img {
        width: auto;
    }
    .size-info {
        font-size: 3rem !important;
    }
    .setup-flex {
        flex-direction: column;
    }
    .border-box {
        width: 90%;
    }
    .setup div {
        margin: auto;
    }
    .modal img {
        width: 80%;
        height: 70%;
    }
    .info {
        flex-direction: column;
    }
    .web-draw {
        width: auto;
        text-align: center;
    }
    .perception {
        width: auto;
        margin-top: 4rem;
    }
    .perception h2 {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    .skills h1 {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 0 3rem;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 25% !important;
        margin-left: 2rem;
    }
    .btn-header {
        display: flex;
        position: absolute;
        right: 2rem;
        top: 1rem;
        width: auto;
    }
    .btn-header:hover {
        cursor: pointer;
    }
    #humburger {
        position: relative;
        width: 2.5rem;
        height: .2rem;
        background-color: var(--yellow);
        margin-left: 1rem;
        transition-delay: .3s;
    }
    #humburger::before, #humburger::after {
        position: absolute;
        content: '';
        background-color: #FFCD00;
        width: 100%;
        height: 100%;
        top: -0.5rem;
        left: 0;
        transition: .5s;
    }
    #humburger::before {
        top: -0.5rem;
    }
    #humburger::after {
        top: 0.5rem;
    }
    #menu-header {
        flex-direction: column;
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 0;
        right: 0;
        top: 8rem;
        border-top-left-radius: 0px 0px;
        border-bottom-left-radius: 0px 0px;
        z-index: 2;
        overflow-y: hidden;
        transition: .7s;
    }
    #menu-header li {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        padding: 1.5rem;
        font-size: 2rem;
        color: #FFCD00;
        text-align: center;
    }
    #menu-header li:hover {
        background-color: rgba(255, 255, 255, .2);
    }
    #menu-header li a:hover {
        border: none;
    }
    #nav.active #menu-header {
        height: calc(100vh - 1rem);
        visibility: visible;
        overflow-y: auto;
    }
    #nav.active #humburger::before {
        transform: rotate(-135deg);
        visibility: visible;
        top: 2px;
    }
    #nav.active #humburger::after {
        transform: rotate(135deg);
        visibility: visible;
        top: 1px;
    }
    #nav.active #humburger {
        visibility: hidden;
        transition: .2s;
    }
    .modal {
        height: 60%;
    }
    .footer-left {
        flex-direction: column;
    }
}

@media(max-width: 400px) {
    body {
        width: 100%;
    }
    .header {
        margin-bottom: 8rem;
    }

    .logo img {
        width: 40%;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }

    #theme {
        top: 5.5rem;
        right: 0.5rem;
    }

    .btn-header {
        width: 35%;
        height: auto;
        top: 2rem;
        right: 10px;
        padding: .5rem 0;
        text-align: center;
        font-size: 1.2rem;
        justify-content: flex-end;
    }
    
    #humburger::before {
        top: -0.5rem; 
    }

    #humburger {
        width: 2rem;
        height: .2rem;
        top: -0.1rem;
        right: 0;
        margin-left: 1.5rem;
    }
    #humburger::after {
        top: 0.5rem;
    }
    .back-about {
        margin-bottom: 0;
        margin-top: 10rem;
    }
    .line {
        margin: 2rem auto;
    }

    .apresentation {
        width: auto;
        margin: .5rem;
    }
    .apresentation h1 {
        font-size: 2.5rem;
        padding: .5rem;
    }
    .apresentation p {
        width: auto;
        font-weight: normal;
        padding: .6rem;
    }

    .anime-name .letter {
        font-size: 5rem !important;
    }

    .perception {
        width: 100%;
        padding: 0;
        margin-top: 2rem;
    }
    .info {
        width: 95%;
    }
    .perception h2 {
        font-size: 2rem;
        border-radius: 1rem 1rem 0 0;
        margin-bottom: 1rem;
    }
    .perception p {
        font-size: 1.5rem !important;
        text-align: center !important;
    }
    .collections {
        margin: auto;
        width: 95%;
        padding: 0;
    }
    .photos {
        margin: 0;
    }
    .photos picture {
        width: 95%;
        border: none;
        padding: 0;
        margin-bottom: 2rem;
    }
    .colletion-left span {
        width: 100% !important;
        font-size: 1.8rem;
        font-weight: normal;
        padding: 0 1rem;
    }
    .photos span {
        margin: auto !important;
    }
    .colletion-left img {
        width: 20rem;
    }
    .portfolio {
        margin-top: 14rem;
        margin-bottom: 15rem;
    }
    .portfolio::after {
        height: 10%;
        top: -15rem;
    }

    .portfolio::before {
        height: 4%;
        bottom: -6rem;
    }
    .group-card {
        padding-top: 1rem;
        padding-bottom: 0;
    }
    .cards {
        width: auto;
        height: auto;
    }
    .up-card {
        height: 12rem;
    }
    .up-card span {
        background-size: 150% 150%;
    }
    .down-card ol li, p {
        margin: .5rem 0 !important;
        font-weight: 700;
    }
    .down-card div a {
        width: 4rem;
        height: 2.5rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .down-card div a img {
        width: 2rem;
        padding: 0;
    }
    .description-card {
        width: 75%;
    }
    .down-card div {
        align-items: flex-end;
    }
    .skills {
        margin: 0;
        font-size: 2rem !important;
    }
    .skills::before {
        height: 7%;
        top: -12.8rem;
    }
    .skills h1 {
        margin: 1rem 0;
    }
    .setup-flex {
        width: auto;
        margin: 0 .8rem;
    }
    .setup span {
        font-size: 3rem;
        font-weight: 700;
    }
    .setup div {
        border-bottom: 3px solid #FFCD00;
        padding: 1rem;
        display: block;
    }
    .setup div img {
        width: 2.8rem;
        height: 2.8rem;
        margin-right: .5rem;
        margin-bottom: 0rem;
        float: left;
    }
    .setup div p {
        padding: 0;
    }
    .cert ol li {
        justify-content: space-between;
    }
    .tools {
        border-bottom: none !important;
        margin-bottom: 1rem;
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }
    .modal {
        width: 94%;
        height: 60%;
    }
    .cert ol {
        width: 100%;
    }
    /* .modal {
        width: 90%;
        position: relative;
        top: -80px;
    } */
    .border-box {
        padding: 0;
        border: none;
        width: 100%;
    }
    .platforms {
        padding: 1rem 2rem;
    }
    .platforms ol li {
        font-size: 1rem;
        color: var(--bg-blue-dark);
    }
    .modal div h2 {
        font-size: 1.5rem;
    }
    .line-bottom, .line-white {
        margin-top: 1rem;
    }
    .footer {
        padding: 1rem !important;
        margin-top: 12rem;
    }
    form div {
        flex-direction: column;
    }
    form textarea {
        font-size: 1.5rem;
    }
    form div input {
        width: 100%;
        height: 4rem;
        border-radius: .5rem;
    }
    .shadow {
        border-radius: 1rem;
    }
    form div button {
        width: 100%;
        border-radius: 1rem;
        margin-left: 0;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 2rem;
        padding: auto;
    }
    .social-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .social-media li {
        margin: 0;
        width: 3rem;
        height: 3rem;
    }
}